{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='album.css')}}">
{% endblock %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Hackathon project</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body style="background-color:powderblue;">

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Web app created to serve as a powerful and versatile tool for medical imaging.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Links</h4>
              <ul class="list-unstyled">
                <li><a href="/" class="text-white">Main Page</a></li>
                <li><a href="recognition.html" class="text-white">Health-Related Image Recognition</a></li>
                <li><a href="education.html" class="text-white">Train Yourself</a></li>
                <li><a href="help_us.html" class="text-white">Help Us Improve!</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="container d-flex justify-content-between">
          <button class="btn-group-toggle" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #008CBA; border: none;
    color: white;
    font:16px;
    border-radius: 8px;
    padding: 15px 18px;">This is Winnipeg</button>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center" style="background-color:skyblue;">
        <div class="container">
          <h1 class="jumbotron-heading" style="color: black;">Health-Related Image Recognition</h1>
          <p class="lead text-muted">Specify the imaging modality, type of content and the task to be performed. Then, upload the image to be analyzed.</p>
        </div>
      </section>
<section class="text-center">
    <div class="row">
      Image modality:
        <select>
          <option value="wci">whole cell imaging</option>
        </select>
        <br>Type of Health condition:
          <select>
            <option value="BC">breast cancer</option>
          </select>
          <br>Task to be performed:
            <select>
              <option value="bm">benign vs. maglinant</option>
            </select>
  </div>
</div>
<header class="navbar">
  <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>

    <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>
<!---->

</header>
</section>


    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>by Hannah Jin, Yue Dai, HeQian Wang and Larry Dong</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>


{% endblock content %}
